{% extends 'base.html' %}

{% block content %}
    <h1>About PETBlog</h1>
    <p>Welcome to PETBlog - a place where we share stories, research, and a variety of interesting articles. Our blog is created to enrich you with diverse content and discuss the most relevant topics.</p>

    <h2>Our Mission</h2>
    <p>We aim to provide you with engaging, informative, and inspiring materials. Whether you're interested in technology, art, travel, or other aspects of life, we have something for everyone.</p>

    <h2>How We Work</h2>
    <p>We place great emphasis on the quality of our content. Our articles go through a rigorous editorial process to ensure that each one offers value and interest to you.</p>

    <h2>Contact Us</h2>
    <p>We value your feedback and opinions. If you have suggestions, questions, or comments, please feel free to reach out to us through our contact form.</p>

    <p>Thank you for visiting PETBlog! We hope you find something interesting and inspiring here. Happy reading!</p>
{% endblock %}
