<footer class="bg-dark text-light  py-3" style="position: sticky; top: 0;">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 mb-3">
                <ul class="list-unstyled">
                    <li>Contact Information:</li>
                    <li>Email: tstemail@example.com</li>
                    <li>Phone: +123 456 789</li>
                </ul>

            </div>
            <div class="col-md-4 mb-3">
                <ul class="list-unstyled">
                    <li>Links:</li>
                    <li><a class="text-light" href="https://twitter.com/">X(Twitter)</a></li>
                    <li><a class="text-light" href="https://www.facebook.com">Facebook</a></li>
                    <li><a class="text-light" href="https://github.com/">GitHub</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <ul class="list-unstyled">
                    <li><a class="text-light" href="{% url 'about' %}" >About</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
